.DS_Store
.AppleDouble
.LSOverride
*.icloud
._*

debug/
target/
**/*.rs.bk
*.pdb
.cargo/

__pycache__/

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

result
nix-results/
.direnv/
.aider*
flamegraph.svg
perf.data
perf.data.*
.vscode/
.zed/
.venv/
libtorch*
slurm*
*.key

/data
/distro-data
checkpoints/
logs/
txt/
config/testing/dolma/

test-ledger

book

**/.rustc_info.json

config/client/.env

**/README.md

scripts/devnet/devnet_funded_accounts
