### macOS ###
.DS_Store
.AppleDouble
.LSOverride
*.icloud
._*

### Rust ###
debug/
target/
**/*.rs.bk
*.pdb
.cargo/

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini


### Tooling ###
result
.direnv/
.aider*
flamegraph.svg
perf.data
perf.data.*
.vscode/
.venv/
libtorch*
slurm*

### Training Data ###
/data

# results
distro-data/